@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swagger-ui {
  color: #0f172a;
}

.swagger-ui .scheme-container,
.swagger-ui .models {
  border-radius: 8px;
  box-shadow: none;
}

.swagger-ui .opblock,
.swagger-ui .information-container.wrapper,
.swagger-ui .scheme-container {
  border-radius: 8px;
}
